%table
  %tr
    %td First Name
    %td=text_field pos, :first_name
  %tr
    %td Last Name
    %td=text_field pos, :last_name
  %tr 
    %td Address
    %td=text_field pos, :address
  %tr
    %td City
    %td=text_field pos, :city 
  %tr
    %td State
    %td=text_field pos, :address_state
  %tr
    %td Zip
    %td=text_field pos, :zip
  %tr
    %td Phone
    %td=text_field pos, :phone
  %tr
    %td Position
    %td=text_field pos, :position 