.title
  %h1 Campgrounds

#campgrounds
- @campgrounds.each do |campground|
  %h2= campground.name
  %span.description= campground.description
  %span.campHere{:campgound=>campground.name} Camp&nbsp;Here

  



