%h2 Add a new Camp Site

%form{:action => '/campsites/' + (@campsite.new_record? ? 'create' : 'update'), :method => 'post'}
  %input{:type => 'hidden', :name => 'authenticity_token', :value => self.form_authenticity_token}
  -if @campsite.id
    %input{:type=>'hidden', :name=>"id", :value=>@campsite.id}

  .name
    %label Name:
    .input
      %input{:type=>'text', :name=>"campsite[name]", :value=>@campsite.name}

  .beds
    %label Beds:
    .input
      %input{:type=>'text', :name=>"campsite[beds]", :value=>@campsite.beds}

  .price
    %label Price:
    .input
      %input{:type=>'text', :name=>"campsite[price]", :value=>@campsite.price}

  .price
    %label OOC Price:
    .input
      %input{:type=>'text', :name=>"campsite[ooc_price]", :value=>@campsite.ooc_price} 

  .campground
    %label Campground:
    .input
      %select{:name => "campsite[campground_id]"}
        -@campgrounds.each do |campground|
          %option{ :value=>campground.id, :selected => @campsite.campground_id == campground.id ? "true" : nil}= campground.name

  %input{:type=>'submit', :value=>"Submit"}

    
