%h2 Add a new Camp Site

%form{:action => "/campsites/save", :method => 'post'}
  %input{:type => 'hidden', :name => 'authenticity_token', :value => self.form_authenticity_token}
  -if @campsite.id
    %input{:type=>'hidden', name=>"campsite[id]"}

  .name
    %label Name:
    %input{:type=>'text', :name=>"campsite[name]"}

  .beds
    %label Beds:
    %input{:type=>'text', :name=>"campsite[beds]"}

  .price
    %label Price:
    %input{:type=>'text', :name=>"campsite[price]"}

  %input{:type=>'submit', :value=>"Submit"}

    
